.container-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
}

.container-btn-dialog {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;

}

.btn-purple {
    min-width: 100px;
    height: 44px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #6E41E2;
}

.button-white {
    width: 84px;
    height: 44px;
    border-radius: 4px;
    border: 2px solid #6E41E2;
    color: #6E41E2;
    background-color: transparent;
} 